<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Another Text-Only Post</title>
	<atom:link href="http://themes.vibethemes.com/wplms/skins/default/another-text-only-post/feed/" rel="self" type="application/rss+xml" />
	<link>http://themes.vibethemes.com/wplms/skins/default/another-text-only-post/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Fri, 12 Feb 2016 22:36:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>By: Michael</title>
		<link>http://themes.vibethemes.com/wplms/skins/default/another-text-only-post/#comment-25</link>
		<dc:creator><![CDATA[Michael]]></dc:creator>
		<pubDate>Sun, 23 Feb 2014 00:27:09 +0000</pubDate>
		<guid isPermaLink="false">http://dev.danphilibin.com/wordpress/?p=57#comment-25</guid>
		<description><![CDATA[THis is a great theme.]]></description>
		<content:encoded><![CDATA[<p>THis is a great theme.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: admin</title>
		<link>http://themes.vibethemes.com/wplms/skins/default/another-text-only-post/#comment-24</link>
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 17 Sep 2008 22:13:58 +0000</pubDate>
		<guid isPermaLink="false">http://dev.danphilibin.com/wordpress/?p=57#comment-24</guid>
		<description><![CDATA[Howdy! This is an admin comment.]]></description>
		<content:encoded><![CDATA[<p>Howdy! This is an admin comment.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
