<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: An Ordered List Post</title>
	<atom:link href="http://themes.vibethemes.com/wplms/skins/default/an-ordered-list-post/feed/" rel="self" type="application/rss+xml" />
	<link>http://themes.vibethemes.com/wplms/skins/default/an-ordered-list-post/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Fri, 12 Feb 2016 22:36:09 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>By: sarah</title>
		<link>http://themes.vibethemes.com/wplms/skins/default/an-ordered-list-post/#comment-576</link>
		<dc:creator><![CDATA[sarah]]></dc:creator>
		<pubDate>Sat, 03 Oct 2015 05:30:00 +0000</pubDate>
		<guid isPermaLink="false">http://dev.wpcoder.com/dan/wordpress/?p=50#comment-576</guid>
		<description><![CDATA[This is a comment]]></description>
		<content:encoded><![CDATA[<p>This is a comment</p>
]]></content:encoded>
	</item>
</channel>
</rss>
